In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
engine.connect()

In [4]:
df = pd.read_csv('data/yellow_tripdata_2021-01.csv', nrows=100)

In [8]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [ ]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [23]:
df_iter = pd.read_csv('data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [25]:
from time import time

In [26]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print("Inserted another chunk, took %.3f seconds" % (t_end - t_start))

    except StopIteration:
        print("All chunks processed.")
        break
    except Exception as e:
        print(f"Error occurred: {e}")
        break

Inserted another chunk, took 4.700 seconds
Inserted another chunk, took 4.613 seconds
Inserted another chunk, took 4.667 seconds
Inserted another chunk, took 4.659 seconds
Inserted another chunk, took 4.714 seconds
Inserted another chunk, took 4.613 seconds
Inserted another chunk, took 4.749 seconds
Inserted another chunk, took 4.694 seconds
Inserted another chunk, took 4.765 seconds
Inserted another chunk, took 4.762 seconds
Inserted another chunk, took 4.772 seconds
Inserted another chunk, took 4.669 seconds

/tmp/ipykernel_44528/3018719487.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 4.645 seconds
Inserted another chunk, took 2.976 seconds
All chunks processed.